<div *ngIf="produit">
  <h1>{{ produit.nom }}</h1>
  <p><strong>Catégorie:</strong> {{ produit.categorie }}</p>
  <p><strong>Description:</strong> {{ produit.description }}</p>
  <p><strong>Prix:</strong> {{ produit.prix | currency }}</p>
  <p><strong>État:</strong> 
    <span [ngStyle]="{ 'color': getColor(produit.stock) }">{{ getState(produit.stock) }}</span>
  </p>

  <div class="product-images">
    <img *ngFor="let image of produit.images" [src]="image" alt="Product Image" />
  </div>

  <button (click)="addToCart()" routerLink="/panier">Ajouter au panier</button>
</div>
<div *ngIf="!produit">
  <p>Produit non disponible</p>
</div>
