    .card-title {
        height: 300px;
     background-color: #007bff;
      color: white; 
      text-align: center; 
      font-weight: bold;
      padding: 15px; 
      border-radius: 10px 10px 0 0;
    }
  
    .card-body {
      padding: 20px; // Ajouter du padding pour le contenu
    }
