.btn {
  padding: .45rem 1.5rem .35rem;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #000000;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgb(33, 31, 31), rgb(35, 31, 35));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(36, 32, 32), rgb(34, 31, 31))
}

.categories-container {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f9fa;
}

.btn-outline-primary {
  display: flex;
  align-items: center; /* Center icon and text vertically */
}

.btn-outline-primary:hover {
  background-color: #007bff; /* Change background on hover */
  color: white; /* Change text color on hover */
}
.form-select {
  border-radius: 5px; /* Arrondir légèrement les coins */
  border: 1px solid #ced4da; /* Bordure légère */
  padding: 8px 12px; /* Espacement interne pour un meilleur confort */
  background-color: #f8f9fa; /* Couleur de fond claire */
  font-size: 16px; /* Taille de texte confortable */
  color: #495057; /* Couleur du texte */
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transition douce pour hover et focus */
}

/* Changement visuel lors du focus */
.form-select:focus {
  border-color: #80bdff; /* Bordure bleue au focus */
  outline: none; /* Retire le contour par défaut */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.25); /* Ajout d'une ombre légère au focus */
}
