<div class="container mt-4">
  <div class="text-end mb-3">
    <button *ngIf="isLoggedIn" (click)="logout()" class="btn btn-danger">
      <i class="bi bi-box-arrow-right"></i> Logout
    </button>
    <button *ngIf="!isLoggedIn" routerLink="/login" class="btn btn-danger">
      <i class="bi bi-box-arrow-right"></i> login
    </button>
  </div>

  <div class="row text-center">
    <div *ngFor="let section of sections" class="col-md-3 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-{{ section.icon }} me-2"></i>{{ section.name }}
          </h5>
          <p class="card-text">{{ section.description }}</p>
          <a [routerLink]="section.routerLink" class="btn btn-primary">Visit {{ section.name }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
